* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_header {
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.3rem solid #6baa75;
}

.navbar_button {
    align-self: center;
    border: 5px solid #6baa75;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background: #6baa75;
    transition: all 2s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -8px);
}

.navbar_links {
    list-style-type: none;
    transition: all 2s ease;
    /**/
    height: 0;
    overflow: hidden;
}

.navbar_collapse {
    height: 240px;
}

.navbar_single-link {
    display: block;
    background: #69747c;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #6baa75;
    transition: all 1s ease;
    cursor: pointer;
}

.navbar_single-link:hover {
    padding-left: 1.5rem;
    background: #545454;
}

.navbar-logo {
    /*transform: scale(0.1);*/
}

header {
    min-height: calc(100vh - 92px);
    background: url('./image/logo.png') center/cover no-repeat;
}
