body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd0a8;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 80%;
}

#quoteButton {
    border: none;
    color: #fff;
    background: #d89156;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
}

#quoteButton:hover {
    color: #ffd000;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quoteAuthor {
    color: #ffd000;
}