body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.counter-box {
    text-align: center;
    padding: 2rem;
    border-radius: 7px;
    border: 3px solid grey;
    flex: 0 0 70%;
    box-shadow: 3px 3px 10px 10px black;
}

.counter{
    color: #f15025;
    font-size: 6rem;
}

.btn {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #f15025;
    box-shadow: 0 5px #001221;
    cursor: pointer;
    outline: none
}

.btn:hover {
    background-color: #4caf50;
    color: white;
}

.btn:active {
    box-shadow: none;
}
