body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #88d5e9;
    color: #333;
    font-family: 'calibri',sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
   text-align: center;
    padding: 2rem;
    border-radius: 7px;
    background-color: #fff;
    flex: 0 0 80%;
}

button{ /*since there is only one button we can use default button*/
    /*display: block; !*start on new line*!*/
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    color: #fff;
    background: #6cc3d8;
    border-radius: 7px;
    border: none;
}

/*button:hover{*/
/*    opacity: 0.8;*/
/*    cursor: pointer;*/
/*}*/

input[type=text]{
    border-radius: 5px;
    border: 3px solid #88d5e9;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
}

input[type=text]:focus {
    box-shadow: 0 0 10px #88d5e9;
}

#messageOut{
    margin: 0.5rem 0;
    color: #88d5e9;
}
