body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('MavicAir2.png') center/cover no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.images {
    background: yellow;
    text-align: center;
    flex: 0 0 80%;
    min-height: 70vh;
    background: url("images/DJI_0.JPG") center/cover no-repeat;
    border-radius: 7px;
    box-shadow: 5px 10px black;
    position: relative;
}

.btn {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: black;
    margin: 0.5rem 0.25rem;
    background: #fff;
    border-radius: 20%;
    border: 3px solid #f15025;
    box-shadow: 2px 5px #001221;
    cursor: pointer;
    outline: none
}
.prevBtn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.nextBtn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.btn:hover {
    background-color: green;
    color: white;
}

.btn:active {
    background: gray;
    box-shadow: 1px 1px gray;
}