body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 7rem;
    color: #32cd23
}